.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  background-image: url("./assets/Artboard\ 8.png");
  color: white;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin: 1rem;
}

.points {
  font-family: "Arial";
  font-size: 1.25rem;
}

.table {
  margin-top: auto;
  height: 30vh;
  width: 150vw;
  border-radius: 80vw 80vw 0 0;
  background: radial-gradient(#0a3712, #35654d) padding-box,
    linear-gradient(to right, #eccc9c, #633b0e, #eccc9c) border-box;
  border: 0.5rem solid transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.betsContainer {
  position: absolute;
  bottom: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  /* background-color: red; */
}

.bets {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: Arial, sans-serif;
}

.bet-amount {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #14301f, #1d3d2e, #14301f);
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.bet-amount p {
  font-size: 2rem;
  font-family: "Impact";
  margin-top: 0;
  background: linear-gradient(to right, #641d1c, #af2c2c);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.upper-box {
  border-radius: 50px 50px 0 0;
  background: linear-gradient(to right, #641d1c, #af2c2c, #641d1c);
  width: 250px;
  height: 15vh;
  color: aliceblue;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-box:hover {
  cursor: pointer;
  opacity: 1;
}

.upper-box p {
  margin-bottom: 60px;
  font-size: 1.5rem;
}

.upper-box p,
.circle p,
.lower-box p {
  font-family: "American";
  color: #eccc9c;
  font-weight: bold;
}

.circle {
  height: 15vh;
  width: 15vh;
  background: radial-gradient(#b82e2f, #A32A29,#601c1b, #3C1414);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.circle:hover {
  cursor: pointer;
}

.lower-box:hover {
  cursor: pointer;
}

.lower-box {
  border-radius: 0 0 50px 50px;
  background: linear-gradient(to right, #641d1c, #af2c2c, #641d1c);
  color: white;
  width: 250px;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower-box p {
  margin-top: 70px;
  font-size: 1.5rem;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin-top: 0.5rem;
}

.icon {
  height: 4rem;
  width: 4rem;
}

#die1,
#die2 {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  &.roll {
    animation: roll 1s infinite;
  }
}

.betButton {
  height: 7vh;
  width: 10vw;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
